# Configuration file version
apiVersion: 1
datasources:
  - name: prometheus
    id: 2
    uid: edu3i2awe5zb4c
    orgId: 1
    type: prometheus
    typeName: Prometheus
    typeLogoUrl: public/app/plugins/datasource/prometheus/img/prometheus_logo.svg
    access: proxy
    url: http://localhost:9090
    user: ''
    database: ''
    basicAuth: false
    isDefault: false
    jsonData:
      httpMethod: POST
    readOnly: false
